.guidelines {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .guidelines-wrapper {
    width: 75%;
    margin-top: 3rem;
    .guidelines-heading {
      color: rgb(105, 104, 104);
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }
    .guidelines-items {
      display: flex;
      flex-direction: column;
      line-height: 2rem;
      .guidelines-item {
        flex: 1;
        h3 {
          color: rgb(34, 105, 198);
          margin: 1rem 0;
        }
        p {
          font-size: 15px;
          color: rgb(110, 109, 109);
          margin: 0.9rem 0;
        }
        ul {
          color: rgb(110, 109, 109);
          font-size: 15px;
          list-style: square;
        }
      }
    }
  }
}
