.setting {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  .setting-wrapper {
    width: 400px;
    height: 280px;
    border: 2px solid rgb(34, 105, 198);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 4px;
    .setting-item {
      display: flex;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 15px;
        width: 120px;
      }
      p {
        font-size: 14.5px;
        color: rgb(101, 99, 99);
        margin-left: 0.5rem;
        width: 200px;
      }
    }
    button{
      margin-bottom: 5px;
    }
  }
}
